{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="header">
                <span class="role">{{exp.role}}</span>
                <span class="company">{{exp.company}}</span>
                <span class="time">{{exp.time}}</span>
            </div>
            <p class="summary">{{exp.summary}}</p>
            {% if exp.achievements %}
                <ul class="achievements">
                {% for achievement in exp.achievements %}
                    <li>{{ achievement }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p class="technologies"><strong>Technologies:</strong> {{exp.technologies}}</p>
        </div>
    {% endfor %}
</section>
{% endif %}
