.education {
    margin-bottom: 20px;
    .title {
        @include header;
    }
    .education-items{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    .education-item {
        margin-bottom: 20px;
        .degree {
            @include body-text;
            font-weight: bold;
        }
        .university {
            @include body-text;
        }
        .time {
            @include body-text;
            color: var(--fg-color);
        }
    }
}