.education {
    margin-bottom: 20px;

    .title {
        @include header;
    }

    .education-items {
        margin-bottom: 20px;
        // display: flex;
        // flex-direction: column;
    }

    .education-item {
        margin-bottom: 20px;

        .degree {
            @include body-text;
            font-weight: bold;
        }

        .university {
            @include body-text;
        }

        .time {
            @include body-text;
            color: var(--fg-color);
        }
    }
}