.experience {
    .title {
        @include header;
        margin-bottom: 1.5rem;
    }
    .experience-item {
        margin-bottom: 2rem;
        
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
            
            .role {
                @include body-text;
                font-weight: bold;
            }
            .company {
                @include header;
                font-weight: bold;               
            }
            .time {
                @include body-text;
                color: var(--fg-color-title-sm);
            }
        }
        .summary {
            @include body-text;
            margin-bottom: 0.5rem;
        }
        .achievements {
            list-style-type: none;
            padding-left: 1rem;
            margin-bottom: 0.5rem;
            
            li {
                @include body-text;
                margin-bottom: 0.25rem;
                position: relative;
                
                &::before {
                    content: "•";
                    position: absolute;
                    left: -1rem;
                    color: var(--fg-color-title-sm);
                }
            }
        }
        .technologies {
            @include body-text;
            font-style: italic;
            margin-top: 0.5rem;
        }
    }
}